In [1]:
# Import dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# View Data folder files
os.listdir('Data')

['purchase_data.csv']

In [3]:
# Read CSV into Pandas data frame
purchase_data = pd.read_csv('Data/purchase_data.csv')

# Preview data frame
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Check for null values
display(purchase_data.count())

# Check for "-" values
print(purchase_data[purchase_data.isin(["-"])].count().sum())

# Check for infinity and negative infinity values
print(purchase_data[purchase_data.isin([np.inf])].count().sum())
print(purchase_data[purchase_data.isin([-np.inf])].count().sum())

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

0
0
0

In [5]:
# Confirm proper data types
display(purchase_data.dtypes)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
# Confirm 'Age' column values make sense
print(purchase_data['Age'].min())
print(purchase_data['Age'].max())

7
45

## Player Count

In [7]:
# Total number of players
total_players = purchase_data['SN'].nunique()

pd.DataFrame({'Total Players':[total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

In [8]:
# Number of unique items
unique_items = purchase_data['Item ID'].nunique()

# Average price
avg_price = purchase_data['Price'].mean()

# Total number of purchases
total_purchases = purchase_data['Purchase ID'].count()

# Total revenue
total_revenue = purchase_data['Price'].sum()

In [9]:
# Create summary data frame and format currency
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items],
                                   'Average Price':"${:,.2f}".format(avg_price),
                                    'Number of Purchases':total_purchases,
                                    'Total Revenue':"${:,.2f}".format(total_revenue)
                                   })

# Display Purchasing Analysis (Total) summary data frame
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [10]:
# Isolate columns of interest, drop duplicate 'SN' values and rename 'SN' column to 'Total Count'
unique_SN_df = purchase_data[['SN', 'Gender']].drop_duplicates(subset='SN').rename(columns={'SN':'Total Count'})

# Calculate number of players by gender
gender_demo = unique_SN_df.groupby('Gender').count()

# Create 'Percentage of Players' column and round values to two decimal points
gender_demo['Percentage of Players'] = round((gender_demo['Total Count'] / gender_demo['Total Count'].sum()) * 100, 2)

# Display Gender Demographics summary data frame
gender_demo

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

* Calculate the purchase count, average purchase price, total purchase value, and average total purchase per person by gender


* Create a summary data frame to hold the results


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins


* Calculate the total count and percentage of players by age group


* Create a summary data frame to hold the results


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Calculate the purchase count, average purchase price, total purchase value, and average total purchase per person


* Create a summary data frame to hold the results


* Display the summary data frame

## Top Spenders

* Calculate the purchase count, average purchase price, and total purchase value by SN


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Calculate the purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the Most Popular Items table by total purchase value in descending order


* Display a preview of the data frame